<!DOCTYPE html>
<html>
  <head>
    
    <title>test handle bar page</title>
      
 </head>
<body>
  
    
    <div class="container">
      
      <br>

            

      
          {{{body}}}


      

      <br>

    </div>

</body>
</html>